.side-bar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  // width: 290px;
  width: 20%;
  height: 100vh;
  // position: fixed;
  top: 0;
  // left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-size: cover;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3 ease;
}

.side-bar .menu .item .sub-menu {
  display: none;
  background: rgba(255, 255, 255, 0.1);
}

.side-bar .menu .item .sub-menu a {
  padding-left: 60px;
}

.nested {
  padding-left: 100px !important;
}

.show {
  display: block !important;
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}
